/* COMMON */
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  cursor: default;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #212121;
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5,
address {
  font-size: 1em;
  font-weight: 400;
  line-height: 1em;
}

h5 {
  font-size: 30px;
  font-weight: 700;
  color: #333;
}

.hide {
  position: absolute;
  left: -5000px;
}

/* BTN */
.btn {
  display: block;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;
}

/* INNER */
.inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo a {
  display: block;
}

.header__logo a.logo {
  width: 155px;
  padding-right: 8px;
}

.header__logo a.logo-sub {
  width: 157px;
}

.header__logo a img {
  width: 100%;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu li {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  position: relative;
}


.header__menu li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: #e0e0e0;
}

.header__menu li:last-child::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background-color: #e0e0e0;
}

.header__menu li a {
  flex-basis: 25%;
  display: block;
  padding: 16px 20px;
  color:#444;
}


/* VISUAL */
#visual {
  position: relative;
  margin-top: 55px;
}

#visual .swiper-container {
  /* height: 520px;
  background-image: url("../img/main_slider01_2000.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
 
}

#visual .swiper-slide {
  height: 520px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#visual .swiper-slide.slide1 {background-image: url("../img/main_slider01_2000.jpg");}
#visual .swiper-slide.slide2 {background-image: url("../img/main_slider02_2000.jpg");}
#visual .swiper-slide.slide3 {background-image: url("../img/main_slider03_2000.jpg");}

#visual .movie-introduction {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  text-align: center;
}

#visual .movie-introduction h3 {
  font-size: 60px;
  color: #fafafa;
  margin-bottom: 20px;
}

#visual .movie-introduction p {
  font-size: 24px;
  font-weight: 100;
  color: #bbb;
}

#visual .swiper-pagination {
  bottom: 5px;
}

#visual .swiper-pagination .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background-color: #ccc;
  outline: none;
}

#visual .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fafafa;
}

#visual .swiper-prev,
#visual .swiper-next  {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  margin-top: calc(50px / -2);
  z-index: 10;
  cursor: pointer;
}

#visual .swiper-prev {
  left: 10px;
}

#visual .swiper-next {
  right: 10px;
}

#visual .swiper-prev span,
#visual .swiper-next span {
  color: #fafafa;
  font-size: 50px;
}

#visual .links {
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 1;
}

#visual .links .inner {
  display: flex;
  justify-content: space-between;
}

#visual .links a {
  color: #fafafa;
}

#visual .links .left,
#visual .links .right,
#visual .links .right .about {
  display: flex;
  align-items: center;
}

#visual .links .left li {
  /* margin-right: 30px; */
}

#visual .links .left li a {
  padding: 0 30px;
}

#visual .links .left li:last-child {
  margin-right: 0;
}

#visual .links .left li:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 15px;
  margin: auto 0;
  background-color: #fafafa;
}

#visual .links .left li.active a {
  display: block;
  font-size: 14px;
  text-align: center;
  padding: 3px 10px;
  border: 1px solid #fafafa;
  transition: 350ms;
}

#visual .links .left li.active a:hover {
  background-color: #fafafa;
  color: #212121;
  border: 1px solid #212121;
}

#visual .links .right .about li {
  margin-right: 30px;
}

#visual .links .right .btn-group {
  display: flex;
}

#visual .links .right .btn-group .btn {
  display: block;
  padding: 7px 20px 9px;
  width: 100px;
  text-align: center;
}

#visual .links .right .btn-group .btn.btn--white {
  background-color: #fafafa;
  color: #3A0E6A;
  margin-right: 5px;
}

#visual .links .right .btn-group .btn.active {
  border: 1px solid #6e40c4;
  background-color: #3A0E6A;
  color: #fafafa;
}


/* MOVIES */
#movies {
  background-color: #F2F2F2;
}

#movies .inner {
  padding: 100px 0;
}

#movies .movies__menu {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

#movies .movies__menu li {
  
}

#movies .movies__menu li .btn.btn--gray {
  width: 200px;
  padding: 14px 30px;
  border: 1px solid #c4c4c4;
  font-size: 18px;
  color: #666;
  font-weight: 700;
}

#movies .movies__menu li .btn.btn--gray.active {
  background-color: #666;
  color: #fafafa;
  border: 1px solid #666;
}

#movies .swiper-container .swiper-slide {
  background-color: #fafafa;
}

#movies .swiper-container .swiper-slide img {
  width: 100%;
}

#movies .swiper-container .swiper-slide .movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

#movies .swiper-container .swiper-slide .title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  
}

#movies .swiper-container .swiper-slide .title img {
  margin-right: 5px;
}

#movies .swiper-container .swiper-slide .title .icon {
  width: 29px;
}

#movies .swiper-container .swiper-slide .btn-group {
  display: flex;
  justify-content: center;
}

#movies .swiper-container .swiper-slide .btn-group .btn {
  flex-basis: 45%;
  background-color: #f2f2f2;
  color: #666;
  font-size: 18px;
  padding: 10px 0;
}

#movies .swiper-container .swiper-slide .btn-group .btn:first-child {
  margin-right: 6px;
}


/* EVENTS */

#events .inner {
  padding: 100px 0;
}

#events h4 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

#events .event {
  display: flex;
  justify-content: space-between;
  height: 680px;
  overflow: hidden;
}

#events .event img {
  width: 100%;
}

#events .event .left {
  flex-basis: 58%;
}

#events .event .left .season {
  display: flex;
}

#events .event .left .season .coupon {
  flex-basis: 50%;
}

#events .event .right {
  flex-basis: 40%; 
  
}



