/* COMMON */
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  cursor: default;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #212121;
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5,
address {
  font-size: 1em;
  font-weight: 400;
  line-height: 1em;
  font-style: normal;
}

h4 {
  font-size: 30px;
  font-weight: 500;
  color: #212121;
  margin-bottom: 20px;
}

h5 {
  font-size: 30px;
  font-weight: 700;
  color: #333;
}

.hide {
  position: absolute;
  left: -5000px;
}

/* BTN */
.btn {
  display: block;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;
}

/* INNER */
.inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo a {
  display: block;
}

.header__logo a.logo {
  width: 155px;
  padding-right: 8px;
}

.header__logo a.logo-sub {
  width: 157px;
}

.header__logo a img {
  width: 100%;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu li {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  position: relative;
}


.header__menu li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: #e0e0e0;
}

.header__menu li:last-child::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background-color: #e0e0e0;
}

.header__menu li a {
  flex-basis: 25%;
  display: block;
  padding: 16px 20px;
  color:#444;
}


/* VISUAL */
#visual {
  position: relative;
  margin-top: 55px;
}

#visual .swiper-container {
  overflow: hidden;
}

#visual .swiper-slide {
  height: 520px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#visual .swiper-slide.slide1 {background-image: url("../img/main_slider01_2000.jpg");}
#visual .swiper-slide.slide2 {background-image: url("../img/main_slider02_2000.jpg");}
#visual .swiper-slide.slide3 {background-image: url("../img/main_slider03_2000.jpg");}

#visual .movie-introduction {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  text-align: center;
}

#visual .movie-introduction h3 {
  font-size: 60px;
  color: #fafafa;
  margin-bottom: 20px;
}

#visual .movie-introduction p {
  font-size: 24px;
  font-weight: 100;
  color: #bbb;
}

#visual .swiper-pagination {
  bottom: 5px;
}

#visual .swiper-pagination .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background-color: #ccc;
  outline: none;
}

#visual .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fafafa;
}

#visual .swiper-prev,
#visual .swiper-next  {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  margin-top: calc(50px / -2);
  z-index: 10;
  cursor: pointer;
}

#visual .swiper-prev {
  left: 10px;
}

#visual .swiper-next {
  right: 10px;
}

#visual .swiper-prev span,
#visual .swiper-next span {
  color: #fafafa;
  font-size: 50px;
}

#visual .links {
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 1;
}

#visual .links .inner {
  display: flex;
  justify-content: space-between;
}

#visual .links a {
  color: #fafafa;
}

#visual .links .left,
#visual .links .right,
#visual .links .right .about {
  display: flex;
  align-items: center;
}

#visual .links .left li {
  /* margin-right: 30px; */
}

#visual .links .left li a {
  padding: 0 30px;
}

#visual .links .left li:last-child {
  margin-right: 0;
}

#visual .links .left li:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 15px;
  margin: auto 0;
  background-color: #fafafa;
}

#visual .links .left li.active a {
  display: block;
  font-size: 14px;
  text-align: center;
  padding: 3px 10px;
  border: 1px solid #fafafa;
  transition: 350ms;
}

#visual .links .left li.active a:hover {
  background-color: #fafafa;
  color: #212121;
  border: 1px solid #212121;
}

#visual .links .right .about li {
  margin-right: 30px;
}

#visual .links .right .btn-group {
  display: flex;
}

#visual .links .right .btn-group .btn {
  display: block;
  padding: 7px 20px 9px;
  width: 100px;
  text-align: center;
}

#visual .links .right .btn-group .btn.btn--white {
  background-color: #fafafa;
  color: #3A0E6A;
  margin-right: 5px;
}

#visual .links .right .btn-group .btn.active {
  border: 1px solid #6e40c4;
  background-color: #3A0E6A;
  color: #fafafa;
}


/* MOVIES */
#movies {
  background-color: #F2F2F2;
}

#movies .inner {
  padding: 100px 0;
  overflow: hidden;
}

#movies .movies__menu {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

#movies .movies__menu li .btn.btn--gray {
  width: 200px;
  padding: 14px 30px;
  border: 1px solid #c4c4c4;
  font-size: 18px;
  color: #666;
  font-weight: 700;
}

#movies .movies__menu li .btn.btn--gray.active {
  background-color: #666;
  color: #fafafa;
  border: 1px solid #666;
}

#movies .swiper-container .swiper-slide {
  background-color: #fafafa;
}

#movies .swiper-container .swiper-slide img {
  width: 100%;
}

#movies .swiper-container .swiper-slide .movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

#movies .swiper-container .swiper-slide .title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  
}

#movies .swiper-container .swiper-slide .title img {
  margin-right: 5px;
}

#movies .swiper-container .swiper-slide .title .icon {
  width: 29px;
}

#movies .swiper-container .swiper-slide .btn-group {
  display: flex;
  justify-content: center;
}

#movies .swiper-container .swiper-slide .btn-group .btn {
  flex-basis: 45%;
  background-color: #f2f2f2;
  color: #666;
  font-size: 18px;
  padding: 10px 0;
}

#movies .swiper-container .swiper-slide .btn-group .btn:first-child {
  margin-right: 6px;
}


/* EVENTS */

#events .inner {
  padding: 100px 0;
}

#events h4 {
  font-size: 30px;
  font-weight: 500;
}

#events .event {
  display: flex;
  justify-content: space-between;
  height: 677px;
  overflow: hidden;
}

#events .event img {
  width: 100%;
}

#events .event .left {
  flex-basis: 58%;
}

#events .event .left .season {
  display: flex;
}

#events .event .left .season .coupon {
  flex-basis: 50%;
}

#events .event .right {
  flex-basis: 40%; 
}

#events .event .right img {
  height: 100%;
}


/* GRAND OPENING */
#grand-opening {
  background-image: url("../img/bg01.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 24px 0;
}

#grand-opening .inner {
  padding: 100px 0;
}

#grand-opening .information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#grand-opening .information .title {
  background-image: url(../img/icon.png);
  background-position: 0 -175px;
  width: 330px;
  height: 50px;
  margin-bottom: 20px;
}

#grand-opening .information .date {
  background-image: url(../img/icon.png);
  background-position: 0 -225px;
  width: 260px;
  height: 45px;
  margin-bottom: 20px;
}

#grand-opening .information .description {
  width: 100%;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  padding-bottom: 20px;
  background: url(../img/bar.png) no-repeat bottom center;
  background-size: 100%;
  color: #bb9b51;
}

#grand-opening .renewal-open {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

#grand-opening .renewal-open > div {
  flex-basis: 33.33%;
  background-color: rgba(0,0,0,.5);
  color: #fafafa;
  padding: 18px 30px;
  border: 1px solid #3e4b44;
  font-size: 27px;
  text-align: center;
  position: relative;
  margin: 45px 35px 0;
}

#grand-opening .renewal-open > div .title {
  background-color: #6e3abb;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 19px;
  padding: 10px 20px;
}

#grand-opening .renewal-open > div .description {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#grand-opening .renewal-open > div .description .address {
  font-weight: 700;
}


/* INFO */
#info {}

#info .inner {
  padding: 100px 0;
}

#info .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
}

#info .top .video {
  flex-basis: 68%;
  height: 500px;
}

#info .top .video img {
  width: 100%;
  height: 100%;
}

#info .top .video-info {
  flex-basis: 30%;
  background-color: #f0f0f0;
  padding: 34px;
  height: 500px;
  box-sizing: border-box;
}

#info .top .video-info .text-group {
  display: flex;
  flex-direction: column;
  color: #222;
}

#info .top .video-info .text-group h4 {
  font-size: 28px;
  color: #212121;
  margin-bottom: 5px;
}

#info .top .video-info .text-group .date {
  font-size: 15px;
  color: #333;
}

#info .top .video-info .text-group .star .icon {
  background-image: url('../img/icon@2.png');
  background-size: 500px;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: -3px;
}

#info .top .video-info .text-group .star .icon.icon1 {background-position: -393px 0;}
#info .top .video-info .text-group .star .icon.icon2 {    background-position: -412px 0;}
#info .top .video-info .text-group .star .icon.icon0 {background-position: -374px 0;}

#info .top .video-info .text-group .mark {
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  padding: 13px 0;
}

#info .top .video-info .text-group .nation {
  line-height: 1.4em;
}

#info .top .video-info .text-group .running-time {
  margin-bottom: 6px;
}

#info .top .video-info .text-group .nation,
#info .top .video-info .text-group .running-time {
  font-size: 14px;

}

#info .top .video-info .text-group .story {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  margin-bottom: 20px;
  font-size: 14px;
}

#info .top .video-info .reservation .date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

#info .top .video-info .reservation .date select {
  flex-basis: 55%;
  font-size: 12px;
}

#info .top .video-info .reservation .date input {
  flex-basis: 45%;
  font-size: 12px;
}

#info .top .video-info .reservation .date select {
  margin-right: 3px;
}

#info .top .video-info .reservation select,
#info .top .video-info .reservation input {
  background: #2c2f34;
    color: #fafafa;
    border: none;
    height: 36px;
    padding: 0 10px;
    box-sizing: border-box;
}

#info .top .video-info .reservation input[type="text"] {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}

#info .top .video-info .reservation .btn-group {
  display: flex;
}

#info .top .video-info .reservation .btn-group .btn {
    flex-basis: 50%;
    padding: 10px 30px 12px 30px;
    margin-right: 2%;
    background-color: #fff;
    color: #3a0e6a;
    border: 1px solid #3a0e6a;
    font-size: 13px;
}

#info .top .video-info .reservation .btn-group .btn.active {
  background-color: #3a0e6a;
  color: #fff;
  border: 1px solid #6e40c4;
  margin-right: 0;
}

#info .bottom {
  display: flex;
}

#info .bottom .notice,
#info .bottom .membership,
#info .bottom .inquiry {
  flex-basis: 33.33%;
  margin-right: 2%;
}

#info .bottom .notice > div {
  border: 1px solid #dbdbdb;
  padding: 17px;
  height: 350px;
}

#info .bottom .notice > div .btn-group {
  display: flex;
}

#info .bottom .notice > div .btn-group .btn {
  width: 130px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
  border: 1px solid #dbdbdb;
  color: #666;
  background-color: #fff;
}

#info .bottom .notice > div .btn-group .btn.active {
  background-color: #f5f5f5;
}

#info .bottom .notice > div .text-group {
}

#info .bottom .notice > div .text-group .text {
  padding: 17px;
  font-size: 13px;
  border-bottom: 1px solid #dbdbdb;
  cursor: pointer;
}

#info .bottom .notice > div .text-group .text .title {
  font-weight: 700;
  margin-right: 5px;
}

#info .bottom .notice > div .text-group .text .date {
  color: #666;
}

#info .bottom .notice > div .text-group .text p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin-top: 3px;
}

#info .bottom .membership > div {
  border: 1px solid #dbdbdb;
  padding: 17px;
  height: 350px;
}

#info .bottom .membership > div .card {
  display: flex;
  align-items: center;
  padding: 17px;
  border: 1px solid #dbdbdb;
  margin-bottom: 10px;
}

#info .bottom .membership > div .card:last-child {
  margin-bottom: 0;
}

#info .bottom .membership > div .card .image {
  width: 115px;
  margin-right: 20px;
}

#info .bottom .membership > div .card .image img {
  width: 100%;
}

#info .bottom .membership > div .card .text .title {
  font-size: 18px;
  color: #666;
  font-weight: 500;
}

#info .bottom .membership > div .card .text .description {
  font-size: 14px;
}


#info .bottom .inquiry {
  margin-right: 0;
}

#info .bottom .inquiry .box {
  border: 1px solid #dbdbdb;
  height: 384px;
}

#info .bottom .inquiry .box .inquiry__top,
#info .bottom .inquiry .box .inquiry__bottom {
  display: flex;
  height: 50%;
}

#info .bottom .inquiry .box .inquiry__top {
  border-bottom: 1px solid #dbdbdb;
}

#info .bottom .inquiry .box .inquiry__top > div:first-child,
#info .bottom .inquiry .box .inquiry__bottom > div:first-child {
  border-right: 1px solid #dbdbdb;
}

#info .bottom .inquiry .box .inquiry__bottom {
  
}

#info .bottom .inquiry .box .inquiry__top > div,
#info .bottom .inquiry .box .inquiry__bottom > div {
  flex-basis: 50%;
  text-align: center;
  line-height: 192px;
  cursor: pointer;
}


/* FOOTER */
footer {
  background-color: #211f1f;
  color: #8f8f8f;
}

footer .inner {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

footer .left .logo {
  width: 150px;
}

footer .left .logo img {
  width: 100%;
}

footer .left ul {
  display: flex;
  padding: 15px 0;
}

footer .left ul li {
  position: relative;
}

footer .left ul li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 15px;
  margin: auto 0;
  background-color: #8f8f8f;
}

footer .left ul li:first-child::before {
  display: none;
}

footer .left ul li a {
  color: #8f8f8f;
  font-size: 13px;
  display: block;
  padding: 0 8px;
}

footer .left .info {
  display: flex;
  flex-direction: column;
}

footer .left .info,
footer .left .copyright {
  padding-bottom: 15px;
  font-size: 13px;
}

footer .right ul.sns {
  display: flex;
  
}

footer .right ul.sns li {
  overflow: hidden;
  margin-right: 4px;
}

footer .right ul.sns li:last-child {
  margin-right: 0;
}

footer .right ul.sns li a {
    display: block;
    width: 36px;
    height: 36px;
}

footer .right ul.sns .icon { background-image: url('../img/icon.png');}

footer .right ul.sns .icon.icon1 {background-position: 0 -375px;}
footer .right ul.sns .icon.icon2 {background-position: -36px -375px;}
footer .right ul.sns .icon.icon3 {background-position: -72px -375px;}
footer .right ul.sns .icon.icon4 {background-position: -108px -375px;}
footer .right ul.sns .icon.icon5 {background-position: -144px -375px;}

footer .right .call {
  padding-top: 5px;
  font-size: 21px;
  text-align: right;
  cursor: pointer;
}

footer .right .call span {
  padding-left: 10px;
  color: #fafafa;
}